@import "variables";

.modal-header {
	position: relative;
}

$color-box-height: 2em;

.color-box {
	line-height: $color-box-height;
	text-align: center;

	.color-box-inner {
		height: $color-box-height;
	}

	.clickable {
		border: $border-width * 2 solid transparent;

		&.active {
			border: $border-width * 2 solid $primary;
		}

		&:hover {
			background: $gray-600;
		}
	}

	small {
		color: $white;
		opacity: 0.5;
	}
}

.w-3-chars {
	width: 4em;
}
