<p-section [label]="label" [whitespace]="SectionWhitespace.NONE">
	<div class="justify-content-between align-items-center"
		[class.d-flex]="!CONFIG.IS_MOBILE"
	>
		<div
			[class.mb-3]="CONFIG.IS_MOBILE"
		><ng-content select="[description]"></ng-content></div>
		<p-recover-button
			class="{{!CONFIG.IS_MOBILE ? 'ml-3' : ''}}"
			[modalText]="modalText"
			(onOpenModal)="onOpenModal.emit($event)"
			(onModalSuccess)="onRecover.emit($event)"
			(onModalDismiss)="onDismiss.emit($event)"
			[label]="btnLabel"
			[disabled]="disabled"
			[valid]="valid"
		>
			<ng-content select="[modal-content]"></ng-content>
		</p-recover-button>
	</div>
</p-section>
