<p-modal-content
	[modalTitle]="modalContentOptions.modalTitle"
	[closeBtnLabel]="modalContentOptions.closeBtnLabel ?? null"
	[closeBtnTheme]="!theme ? PThemeEnum.PRIMARY : undefined"
	[dismissBtnLabel]="modalContentOptions.dismissBtnLabel ?? null"
	[hideDismissBtn]="!!modalContentOptions.hideDismissBtn"
	[theme]="theme ?? null"
	(onDismiss)="onDismiss()"
	(onClose)="onClose()"
>
	<p-modal-content-body>
		<h4 *ngIf="modalContentOptions.icon" class="text-center mt-1 mb-3">
			<fa-icon [fixedWidth]="true" [icon]="modalContentOptions.icon"></fa-icon>
		</h4>
		<p [innerHtml]="modalContentOptions.description"></p>
	</p-modal-content-body>
</p-modal-content>
