.shift-exchange-item {
	&.view-small {
		position: relative;
		display: block;
		margin: 0;
		// padding: 0.2em 0.4em 0.2em 0.7em;
		/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
		padding: 0 0 0 9px;
	}
}

.show-in-calendar-btn-wrap {
	display: flex;

	&.show-on-hover {
		display: none;
	}
}

@media (hover: hover) {
	:host:hover {
		.show-in-calendar-btn-wrap.show-on-hover {
			display: flex !important;
		}
	}
}
