@import "variables";
@import "./../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.bookings-wrap {
	flex-grow: 0;
	flex-basis: 400px;
}

.scrollable {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}

.filter-info {
	span {
		font-size: $font-size-xs;
	}
}

.members > .list-item {
	border-bottom: $border-width solid $gray-300;
}

.name {
	line-height: 1;
	// text-overflow: ellipsis;
	// overflow: hidden;
	z-index: 10;
}

.mr-12px {
	/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
	margin-right: 12px;
}
