@import "variables";
@import "~bootstrap/scss/bootstrap-grid.scss";

:host {
	position: relative;
	z-index: $z-index-p-sidebar;
	flex-direction: column;
	height: 100%;
	transition: opacity 0.2s, width 0.2s, background-color 0.3s;

	&.collapsed {
		justify-content: center;
	}

	&.mobile-mode {
		&.collapsed {
			width: 0;
			opacity: 0;
		}

		&.uncollapsed {
			width: 100%;
		}
	}

	.sidebar-toggle {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		cursor: pointer;
		transition: opacity 0.2s, width 0.2s, background-color 0.5s;

		border: 0;
		width: 0;
		/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
		margin-right: -24px;

		opacity: 0;
	}

	&.desktop-mode {
		&.collapsed {
			width: 30px;
			opacity: 1;
			cursor: pointer;
		}

		&.uncollapsed {
			width: 320px;

			&:hover .sidebar-toggle {
				opacity: 1;
				width: 30px;
			}
		}
	}

}

.icon {
	align-self: flex-start;
}

@include media-breakpoint-up(lg) {
	:host {
		min-height: calc(100vh - 55px);
	}
}
