<p-dumb-booking-item
	[isLoading]="isLoading"
	[hasDropdown]="hasDropdown"
	[id]="booking.id"
	[model]="booking.model"
	[state]="booking.state"
	[paymentStatus]="booking.paymentStatus"
	[bookingNumber]="booking.bookingNumber"
	[ownerComment]="booking.ownerComment"
	[dateOfBooking]="booking.dateOfBooking"
	[userCanWrite]="userEditBookings"
	(onEdit)="editBooking()"
	[showEditCourseBtn]="navigationToCourseIsPossible"
	(onEditCourse)="editCourse()"
	[relatedShiftsSelected]="relatedShiftsSelected"
	(onSelectShifts)="onClickSelectShifts(booking, shifts)"
	[selectShiftIsDisabled]="selectShiftIsDisabled"
	[bookingComment]="booking.bookingComment"
	[showFirstShiftStart]="false"
></p-dumb-booking-item>
