@import "variables";

$shift-item-radius: 0.7rem;

:host {
	display: block;
	/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
	scroll-margin: 100000px;
	/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
	scroll-padding: 100000px;
}

.header {
	padding: map-get($spacers, 4);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 0;
	}

	.close {
		font-size: inherit;
	}
}

p-multi-select-checkbox.show-on-hover {
	display: none;
}

@media (hover: hover) {
	:host:hover {
		p-multi-select-checkbox.show-on-hover {
			display: flex !important;
		}
	}
}

.card {
	border-radius: $shift-item-radius;
	transition: none;
}

.card-body {
	background: $white;
}

.card-header {
	position: relative;
	overflow: hidden;

	.title {
		line-height: 1.4rem;
	}

	&:first-child {
		border-radius: 0;
	}
}

table tr {
	vertical-align: baseline;
}

@media (hover: hover) {
	.shift-item.clickable:hover {
		background: $gray-200;
	}
}

.shift-item {
	cursor: pointer;

	&.view-small {
		position: relative;
		display: block;
		margin: 0;
		overflow: hidden;
		// padding: 0.2em 0.4em 0.2em 0.7em;
		/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
		padding: 0 0 0 9px;

		.badge-bar {
			z-index: 0;
			display: flex;
			height: 2rem;
			overflow: hidden;
			/* stylelint-disable-next-line sh-waqar/declaration-use-variable */
			margin: 2px;
		}
	}
}

.empty-slots-text {
	padding: map-get($spacers, 2);
}
