<section class="p-4">
	<p class="m-0" i18n>Bitte verwende für deine Email-Vorlage nur die hier aufgelisteten Platzhalter. Wenn du dir mehr Auswahl wünschst, melde dich einfach bei uns.</p>
</section>
<section class="p-4">
	<h5 i18n>Platzhalter für alle Email-Typen</h5>

		<h6 class="pt-4 pb-3" i18n>Angaben zu den Personen</h6>
			<p-placeholder-input
				placeholder="#BUCHENDER_VORNAME#" i18n-placeholder
				description="<strong>Vorname</strong> der buchenden Person." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#BUCHENDER_NACHNAME#" i18n-placeholder
				description="<strong>Nachname</strong> der buchenden Person." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#BUCHENDER_ANSCHRIFT#" i18n-placeholder
			description="<strong>Anschrift</strong> der buchenden Person." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#EMAIL_EMPFAENGER_VORNAME#" i18n-placeholder
				description="<strong>Vorname</strong> des Email-Empfängers." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#EMAIL_EMPFAENGER_NACHNAME#" i18n-placeholder
			description="<strong>Nachname</strong> des Email-Empfängers." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#NAME_TEILNEHMENDE#" i18n-placeholder
				description="<strong>Vor- und Nachname</strong> der in einer Buchung angegebenen Teilnehmenden. Bei Angeboten wie Kindergeburtstagen, die komplett gebucht werden, steht hier der Name der buchenden Person." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#ALTER_TEILNEHMENDE#" i18n-placeholder
				description="<strong>Alter</strong> der in einer Buchung angegebenen Teilnehmenden. Bei Angeboten, die komplett gebucht werden, steht bspw. »10 bis 18«." i18n-description
			></p-placeholder-input>

		<h6 class="pt-4 pb-3" i18n>Angaben über die Buchung & das Angebot</h6>
			<p-placeholder-input
				placeholder="#BUCHUNGS_DATUM#" i18n-placeholder
				description="<strong>Datum</strong> der Buchung / Anfrage." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#BUCHUNGS_NUMMER#" i18n-placeholder
				description="Eine einzigartige <strong>Nummer für jede Buchung oder Anfrage</strong>. Kann die Kommunikation mit euren Kunden vereinfachen. Nicht zu verwechseln mit der Angebotsnummer." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#GEBUCHTE_TEILNEHMENDENZAHL#" i18n-placeholder
			description="Die <strong>gebuchte Teilnehmendenzahl</strong>. Ein Kunde kann auch für mehrere Teilnehmende buchen." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#KUNDENKOMMENTAR#" i18n-placeholder
			description="Optionaler <strong>Buchungskommentar</strong> der buchenden Person." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#TARIF_INFO_BLOCK#" i18n-placeholder
			description="Für jede in einer Buchung angegebene teilnehmende Person werden <strong>Tarifname, Tarifbeschreibung und der Preis (Brutto) mit Währung</strong> aufgelistet." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#STORNO_WIDERRUF_INFO_BLOCK#" i18n-placeholder
			description="<strong>Hinweise zu den Stornogebühren und möglichen Widerrufsfristen</strong>, die in einer Tätigkeit unter »STORNOGEBÜHREN & WIDERRUF« hinterlegt sind. Es sind dieselben Hinweise, die bei der Online-Buchung im Buchungsplugin angezeigt werden. Falls du die " i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#ANGEBOTSNAME#" i18n-placeholder
			description="<strong>Name</strong> des betroffenen Angebots, das auf eurer Homepage angezeigt wird. Ist nicht zu verwechseln mit dem Namen der Tätigkeit." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#ANGEBOT_NUMMER#" i18n-placeholder
			description="Die einzigartige <strong>Nummer des gebuchten Angebots</strong>. Kann die Kommunikation mit euren Kunden vereinfachen. Nicht zu verwechseln mit der Buchungsnummer." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#ANGEBOT_TERMIN#" i18n-placeholder
			description="<strong>Wochentag, Datum und Uhrzeit</strong> des gebuchten Angebots. Wenn das Angebot aus mehreren Terminen besteht, dann werden die Termine <strong>hintereinander in einer Zeile</strong> eingefügt. Dieses Format bietet sich für einen Lauftext an." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#ANGEBOT_TERMIN_BLOCK#" i18n-placeholder
			description="<strong>Wochentag, Datum und Uhrzeit</strong> des gebuchten Angebots. Wenn das Angebot aus mehreren Terminen besteht, dann werden die Termine <strong>als Aufzählung untereinander</strong> eingefügt. Dieses Format lässt die Termine besonders hervorstechen." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#ANGEBOTSBESCHREIBUNG#" i18n-placeholder
				description="Die <strong>Angebotsbeschreibung</strong>, die du in einer Tätigkeit unter »Buchungseinstellungen« eingegeben hast." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#ANGEBOT_ORT#" i18n-placeholder
				description="Der <strong>Ort</strong>, an dem das gebuchte Angebot stattfindet." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#ANFORDERUNGEN#" i18n-placeholder
				description="Die <strong>Anforderungen für eine Teilnahme</strong>, die du in einer Tätigkeit unter »Buchungseinstellungen« definiert hast." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#MITZUBRINGEN#" i18n-placeholder
				description="<strong>Sachen</strong>, die deine Kunden mitbringen sollen. Du hast sie in einer Tätigkeit unter »Buchungseinstellungen« festgelegt." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#STANDORTNAME#" i18n-placeholder
			description="<strong>Öffentlich verwendeter Name eures Betriebs</strong>, der in der Kommunikation mit euren Kunden verwendet werden soll – z.B. »Dr.&nbsp;Plano«." i18n-description
			></p-placeholder-input>

		<h6 class="pt-4 pb-3" i18n>Angaben zur Zahlung</h6>
			<p-placeholder-input
			placeholder="#ZAHLUNGSART#" i18n-placeholder
			description="Name der vom Kunden präferierten <strong>Zahlungsart</strong>." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#GESAMTPREIS_BRUTTO#" i18n-placeholder
				description="<strong>Bruttogesamtpreis plus Währung</strong>, den der Kunde zahlen muss. Setzt sich zusammen aus der Teilnehmendenzahl, dem gewählten Tarif inkl. der MwSt. und einer ggf. anzurechnenden <strong>Stornogebühr</strong>." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#GESAMTPREIS_NETTO#" i18n-placeholder
				description="<strong>Nettogesamtpreis plus Währung</strong>, den der Kunde zahlen muss. Setzt sich zusammen aus der Teilnehmendenzahl, dem gewählten Tarif exkl. der MwSt. und einer ggf. anzurechnenden <strong>Stornogebühr</strong>." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#GESAMTPREIS_MWST#" i18n-placeholder
				description="<strong>Die im Bruttogesamtpreis enthaltene MwSt. mit Währung</strong>, die der Kunde zahlen muss." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
				placeholder="#INSGESAMT_BEZAHLT#" i18n-placeholder
				description="Vom Kunden insgesamt <strong>bezahlter Betrag mit Währung</strong>." i18n-description
			></p-placeholder-input>
			<p-placeholder-input
			placeholder="#RESTBETRAG#" i18n-placeholder
			description="Der <strong>Restbetrag mit Währung</strong>, also die Differenz zwischen dem bereits bezahlten und dem zu zahlenden Gesamtbetrag." i18n-description
			></p-placeholder-input>
</section>

<section class="p-4">
	<h5 i18n>Link für Online-Storno durch Kunden</h5>
	<div>
		<p i18n>Falls du für ein Angebot die Funktion aktiviert hast, dass deine Kunden selbst ihre Buchungen online stornieren dürfen, dann brauchst du dafür keinen Platzhalter manuell einzufügen. Der Link für die Stornierung wird nämlich automatisch in die Emails platziert, die Dr.&nbsp;Plano an deine Kunden schickt – z.B. in die Email für die Buchungsbestätigung. Sollte eine Person für mehrere gebucht haben, wird der Link für die Stornierung nur der Email an die buchende Person hinzugefügt. Die anderen Teilnehmenden müssen sich an die buchende Person wenden, wenn sie die Buchung storniert haben möchten.</p>
		<p i18n>Mehr interessante Infos zum Thema Stornierung & Rückerstattung von Buchungen findest du <a routerLink="/client/plugin/faq-online-payment" fragment="refund" rel="noopener" target="_blank">hier&nbsp;<fa-icon [fixedWidth]="true" [icon]="PlanoFaIconPool.EXPORT" class="ml-1 small"></fa-icon></a></p>
	</div>
</section>

<ng-template [ngIf]="hasPaymentRelatedEvents">
	<section class="p-4">
		<h5 i18n>Zahlungsaufforderung</h5>
			<p i18n>Dieser Platzhalter steht nur bei folgenden Email-Typen zur Verfügung: <mark>{{ eventTypes.getTitle(EVENT_TYPES.BOOKED)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.PAYMENT_METHOD_CHANGED)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.PAYMENT_PARTIAL)! | localize }}</mark>, <mark>{{ eventTypes.getTitle(EVENT_TYPES.REFUNDED)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.ONLINE_PAYMENT_FAILED)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.AMOUNT_TO_PAY_CHANGED)! | localize }}</mark>, <mark>{{ eventTypes.getTitle(EVENT_TYPES.COURSE_REMINDER)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.PARTICIPATED)! | localize }}</mark>,
			<mark>{{ eventTypes.getTitle(EVENT_TYPES.BOOKING_CANCELED)! | localize }}</mark></p>
		<p-placeholder-input
			placeholder="#ZAHLUNGSAUFFORDERUNG#" i18n-placeholder
			description="Der Text, den du für jede Zahlungsart als <strong>Zahlungsaufforderung</strong> definiert hast. Bei <strong>Online-Zahlung</strong> als Zahlungsart wird in der Email ein Button eingefügt, worüber der Kunde online zahlen kann. Sollte die Buchung vollständig bezahlt sein, erscheint unabhängig von der Zahlungsart der Hinweis »Die Gebühr ist bereits bezahlt«." i18n-description
		></p-placeholder-input>
	</section>
</ng-template>

<ng-template [ngIf]="hasPaymentStatusEvents">
	<section class="p-4">
		<h5 i18n>Zahlung erhalten</h5>
		<p i18n>Dieser Platzhalter steht nur bei folgenden Email-Typen zur Verfügung: <mark>{{ eventTypes.getTitle(EVENT_TYPES.PAYMENT_PARTIAL)! | localize }}</mark> und <mark>{{ eventTypes.getTitle(EVENT_TYPES.PAYMENT_COMPLETE)! | localize }}</mark></p>
		<p-placeholder-input
			placeholder="#ZULETZT_BEZAHLT#" i18n-placeholder
			description="Vom Kunden mit der letzten Transaktion <strong>bezahlter Betrag mit Währung</strong>." i18n-description
		></p-placeholder-input>
	</section>
</ng-template>

<ng-template [ngIf]="email && (
	email.eventType === EVENT_TYPES.REFUNDED
	)">
	<section class="p-4">
		<h5 i18n>Rückerstattung</h5>
		<p i18n>Dieser Platzhalter steht nur bei folgendem Email-Typ zur Verfügung: <mark>{{ eventTypes.getTitle(EVENT_TYPES.REFUNDED)! | localize }}</mark></p>
		<p-placeholder-input
			placeholder="#ZULETZT_ERSTATTET#" i18n-placeholder
			description="Mit der letzten Transaktion dem Kunden <strong>erstatteter Betrag mit Währung</strong>." i18n-description
		></p-placeholder-input>
	</section>
</ng-template>

<ng-template [ngIf]="email && email.eventType === EVENT_TYPES.DATE_CHANGED">
	<section class="p-4">
		<h5 i18n>Termin geändert</h5>
		<p i18n>Diese Platzhalter stehen nur bei folgendem Email-Typ zur Verfügung: <mark>{{ eventTypes.getTitle(EVENT_TYPES.DATE_CHANGED)! | localize }}</mark></p>
		<p-placeholder-input
			placeholder="#ANGEBOT_TERMIN_ALT#" i18n-placeholder
			description="Bei geänderten Angebotsterminen bekommst du damit den <strong>alten Termin</strong>. Wenn das gebuchte Angebot aus mehreren Terminen bestand, dann werden die Termine <strong>hintereinander in einer Zeile</strong> eingefügt." i18n-description
		></p-placeholder-input>
		<p-placeholder-input
			placeholder="#ANGEBOT_TERMIN_ALT_BLOCK#" i18n-placeholder
			description="Bei geänderten Angebotsterminen bekommst du damit den <strong>alten Termin</strong>. Wenn das Angebot aus mehreren Terminen besteht, dann werden die Termine <strong>als Aufzählung untereinander</strong> eingefügt." i18n-description
		></p-placeholder-input>
	</section>
</ng-template>

<ng-template [ngIf]="email">
	<section class="p-4">
		<h5 i18n>Empfänger von Email-Abschnitten bestimmen</h5>
		<p-placeholder-input
			placeholder="!START_AN_BUCHENDER! … !ENDE_AN_BUCHENDER!" i18n-placeholder
			description="Mit diesem Platzhalter-Paar kannst du festlegen, dass ein Teil deiner Email <strong>nur an die buchende Person</strong> verschickt wird - z.B. die Zahlungsaufforderung. Ersetze einfach die drei »…« durch den gewünschten Text. Du kannst in einer Email das Platzhalter-Paar mehrmals benutzen." i18n-description
		></p-placeholder-input>
		<p-placeholder-input
			placeholder="!START_AN_TEILNEHMENDER! … !ENDE_AN_TEILNEHMENDER!" i18n-placeholder
			description="Mit diesem Platzhalter-Paar kannst du festlegen, dass ein Teil deiner Email <strong>nur an die teilnehmende Person</strong> verschickt wird - z.B. die Info über geeignete Sportkleidung. Ersetze einfach die drei »…« durch den gewünschten Text. Du kannst in einer Email das Platzhalter-Paar mehrmals benutzen." i18n-description
		></p-placeholder-input>
	</section>
</ng-template>

